<launch>
    <!-- Load Robot Description -->
    <param name="robot_description"
        command="$(find xacro)/xacro $(find slambot_controller)/urdf/slambot.urdf.xacro" />

    <!-- Controller Manager -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="diff_drive_controller joint_state_controller" output="screen" />

    <!-- Robot State Publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Joint State Publisher -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
</launch>
  